.bar {
    background: #fff;
    border: 4px solid #21443c;
    width: 300px;
    height: 50px;
}

.bar::after {
    content: "";
    display: block;
    background: #40b549;
    height: 50px;
    animation: 2s loading;
}

@keyframes loading {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}